.tooltip-wrapper{
  padding: 10px 20px;
  background-color: #fff;
  position: absolute;
  border: 1px solid gainsboro;
  box-shadow: 1px 1px 2px 0px gainsboro;
  border-radius: 2px;
  transition: transform 500ms,
}